body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
}

h1 {
    color: #4CAF50;
    margin-top: 50px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#texto {
    margin-top: 20px;
    font-size: 18px;
    color: #000000;
}

/*ISSO FAZ COM QUE FIQUE RESPONSIVO*/
@media (max-width: 768px) {
    input[type="text"] {
        width: 80%;
    }
}